.mgwt-List {
  background-color: transparent;
  border-top: none;
}

.mgwt-List-entry {
  border-top: none;
}

.mgwt-List-entry-first{}
.mgwt-List-entry-last{}

.mgwt-List canvas{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: rgb(0, 93, 233);
    z-index: -1;
}

mgwt-List-entry-first {
  border-top: none;
}

.mgwt-List-entry-canbeSelected {
  position: relative;
  padding: 12px 16px;
  transition: background 1s;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.mgwt-List-entry-canbeSelected.mgwt-List-entry-selected {
  color: white;
  background: rgba(115, 164, 255, 1);
}

.mgwt-List-Header {
  color: rgb(82, 163, 196);
  font-size: 18px;
  margin: 10px 20px 5px;
  text-shadow: rgba(255, 255, 255, 0.19);
}

.mgwt-List-Head-Element, .mgwt-List > .mgwt-List-Head-Element {
  padding: 0px;
  padding-left:12px;
  font-size:19px; 
  font-weight:bold;
  color:white;
  background-color: rgb(50, 50, 50);
  border: none;
}
